@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {  font-family: 'Ferry';  font-style: normal;  font-weight: 900;  font-display: swap;  src: url("./fonts/ferry_black.otf") format("opentype");}
@font-face { font-family: 'Inter';  font-style: normal; src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');}